@font-face{
    font-family: 'Oswald';   
    src: url('../fonts/Oswald-Regular.ttf') ;
}
@font-face{
    font-family: 'Lora';   
    src: url('../fonts/Lora-Regular.ttf') ;
}
@font-face{
    font-family: 'Montserrat';   
    src: url('../fonts/Montserrat-Light.ttf') ;
}
@font-face{
    font-family: 'Lora-italic';   
    src: url('../fonts/Lora-Italic.ttf') ;
}
@font-face{
    font-family: 'Roboto';   
    src: url('../fonts/Roboto-LightItalic.ttf') ;
}
*{
    margin: 0;
}
.container {
    max-width: 1030px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    padding: 10px 0px;
    max-width: 1200px;
    margin: 0 auto; 
    /* width: 100%; */
}
header span{
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 5.5px;
}
.slider {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.about-minimal, .more-minimal {
    position: relative;
    padding: 100px 0 0;
}
.about-minimal-wr {
    width: 535px;
    padding: 41px 40px 45px;
    position: absolute;
    top: 59%;
    right: 32%;
    transform: translate(50%,-50%);
    box-sizing: border-box;
    /* border: 1px solid red; */
    background-color: #fff;
}
.about-minimal-wr h2, .more-minimal h2{
    font-family: 'Lora';
    font-size: 40px;
    color: #22313f;
    font-weight: 400;
}
.about-minimal-wr p, .more-minimal p{
    margin-top: 20px;
    font-family: 'Montserrat';   
    font-size: 17px;
    line-height: 32px;
    color: #95a5a6;
}
.more-minimal-wr {
    width: 535px;
    padding: 41px 40px 45px;
    position: absolute;
    top: 59%;
    right: 67%;
    transform: translate(50%,-50%);
    box-sizing: border-box;
    /* border: 1px solid red; */
    background-color: #fff;
}
.more-minimal  {
    display: flex;
    justify-content: flex-end;
}
.quote {
    padding: 100px 0 0;
    display: flex;
    flex-direction: column;
    height: 155px;
    justify-content: space-between;
    align-items: center;
}
.quote-wr q {
    font-family: 'Lora-italic';
    font-size: 14px;
    display: block ;
    text-align: center;
    color: #6e7173;
    letter-spacing: 0.1px;
}
.line {
    stroke: black;
    stroke-width: 1;
    fill: none;
}
.quote-wr span {
    font-family: 'Roboto';  
    font-size: 15px;
    color: #95a5a6;
    display: block;
    text-align: center;
    margin-top: 25px;
}
.portfolio{
    padding: 105px 0 95px ;
    display: grid;
    /* border: 1px solid green; */
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        'portf-img1 . . . . . portf-img2'
        '. . portf-img3 . portf-img4 portf-img4 .'
        'portf-img5 portf-img5 . . portf-img4 portf-img4 .'
        'portf-img5 portf-img5 . portf-img6 . . portf-img7'
    ;
    grid-row-gap: 15px;
}
.portf-img1{
    grid-area: portf-img1;
}
.portf-img2 {
    /* grid-column-start: 7;
    grid-column-end: 8; */
    grid-area: portf-img2;
    justify-self: end;
}
.portf-img3{
    /* grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4; */
    grid-area: portf-img3;
}
.portf-img4{
    /* grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 7; */
    grid-area: portf-img4;
    justify-self: center;
}
.portf-img5{
    /* grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3; */
    grid-area: portf-img5;
}
.portf-img6{
    /* grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5; */
    grid-area: portf-img6;
    justify-self: center;
}
.portf-img7{
    /* grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 8; */
    grid-area: portf-img7;
    justify-self: end;
}
.line-line {
    display: flex;
    justify-content: center;
}
footer{
    padding: 85px 0;
}
footer a {
    font-family: 'Roboto';  
    font-size: 15px;
    color: #95a5a6;
    text-decoration: none;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    fill: #fff;
    stroke: #94a5a6;
    stroke-width: 2;
}
.icon-circle {
    fill: #94a5a6;
    stroke: #94a5a6;
}
